
body{
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0.5em 1em;
    color: aliceblue;
    background-color: rgb(34, 34, 34);
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto 1fr auto; 
    gap: 0.5em;
    border: 1px solid aliceblue;
    padding: 0.5em;
}
a{
    color: aliceblue;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;   
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    border: 1px solid aliceblue;
}
h1{
    font-size: 2.5rem;
    margin: 0;
}
.logo{
    width: 5rem;
    height: auto;
}
.aboutMe{
    padding: 1em;
    background: linear-gradient(45deg, rgb(74, 28, 165) 0%, rgb(166, 33, 192) 100%);
    border: 1px solid aliceblue;
    border-radius: 1em;
}
.sidebar{
    position: sticky;
    background-color: rgb(34, 34, 34);
    padding: 1em;
    border: 1px solid aliceblue;
    left: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
}
main{
    background-color: rgb(34, 34, 34);
    padding: 1em;
    border: 1px solid aliceblue;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: auto;
}
main img{
    width: 100%;
    height: auto;
}
#minecraft {
    grid-column-start: 2;
    grid-column-end: 3;
    border: 0.3em solid aliceblue;
    padding: 1em;
    border-radius: 3rem;
    margin: 1em 0.2em;
    background: linear-gradient(45deg, rgb(74, 28, 165) 0%, rgb(166, 33, 192) 100%);
}
#hollowknight {
    grid-column-start:  3;
    grid-column-end: 4;
    border: 0.3em solid aliceblue;
    padding: 1em;
    border-radius: 3rem;
    margin: 1em 0.2em;
    background: linear-gradient(45deg, rgb(74, 28, 165) 0%, rgb(166, 33, 192) 100%);
}
figcaption{
    text-align: center;
    padding: 0.5em;
}
footer{
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    justify-content: center;
    padding: 1em;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: span 1;
    border: 1px solid aliceblue;
    background: linear-gradient(90deg, rgb(74, 28, 165) 0%, rgb(166, 33, 192) 100%);
}